@include media-breakpoint-up (xs) {
  button.primary {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-color: $primary-color;
    border-radius: 10px;
    @extend h3;
  }
  input[type="submit"] {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-color: $primary-color;
    border-radius: 10px;
    @extend h3;
  }
}