@include media-breakpoint-up (xs) {

  .views-field {
    margin: 1rem 0;
  }

  .views-field-field-tags {
    a {
      @extend %heading;
      @extend h3;
      &::before {
        content: "○ ";
      }
    }
  }

  .views-field-field-image {
    margin: 0;
  }

  .views-field-title {
    width: 90%;
    h2 {
      a {
        @extend %heading;
        @extend h2;
      }
    }
  }

  .views-field-body {
    width: 90%;
    p {
      margin-bottom: 0;
    }
  }

  .views-field-uid {
    margin-bottom: 0;
    a {
      @extend %heading;
      @extend h3;
    }
    h3 {
      margin-bottom: 0
    }
  }

  .views-field-created {
    @extend %paragraph;
    @extend p;
    margin: 0.25rem 0;
  }

  .views-field-uid {
    @extend %paragraph;
    @extend p;
  }

}