@include media-breakpoint-up (xs) {
  .views-card-grid {
    .views-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      gap: 1rem;
    }
    .views-col {
      img {
        @extend %image;
      }
    }
  }
}

@include media-breakpoint-up (lg) {
  .views-card-grid {
    .views-row {
      flex-direction: row;
    }
  }
}