@include media-breakpoint-up (xs) {

  .views-card-grid {

    .views-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      gap: 1rem;
    }

    .views-col {
      img {
        @extend %image;
        height: 510px;
      }
    }

  }
}