@include media-breakpoint-up (xs) {

  .footer {
    background-color: $primary-color;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $region-padding;
    img {
      max-width: 200px;
    }
    .footer-links {
      padding: 2rem 0;
      ul {
        display: flex;
        li {
          list-style: none;
        }
      }
    }
  }

}