@include media-breakpoint-up (xs) {

  .navigation {
    background-color: $primary-color;
    min-height: 80px;
    padding: 1rem 0;
  }

  .navigation-burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .navigation-left {
      display: flex;
      align-items: center;
      img.logo {
        max-height: 46px;
      }
      a {
        margin-bottom: 0;
      }
      .burger-menu {
        margin-right: 1.5rem;
        .line {
          width: 60px;
          height: 2px;
          background-color: $secondary-color;
          margin: 6px 0;
        }
        &:hover {
          .line {
            margin: 3px 0;
          }
        }
      }
    }
    .navigation-right {
      img.icon {
        height: 20px;
        width: 20px;
      }
    }
  }

}