@include media-breakpoint-up (xs) {
  .the-latest-region {
    background-color: $primary-color;
    padding: $region-padding;
  }
  .the-latest-content {
    color: $secondary-color;
    margin-top: 6rem;
    .views-col {
      width: 100% !important;
    }
  }
}

@include media-breakpoint-up (lg) {
  .the-latest-content {
    h1.latest-heading {
      width: 1ch;
      line-height: 3.6rem;
    }
    .views-col {
      width: 49% !important;
    }
  }
}