{#
/**
    Display custom Loading block.
 */
#}

<div class="loading" id="myLoader">
  <div class="container">
    <div class="loading-content">
      <img class="logo opacity" src="{{ '/themes/vice/vice_logo.png' }}" />
      <img class="logo full" src="{{ '/themes/vice/vice_logo.png' }}" />
    </div>
  </div>
</div>