{#
/**
    Display Footer content.
 */
#}

<nav class="footer-content container">

  <a href="/"><img class="logo" src="{{ '/themes/vice/vice_logo.png' }}" /></a>

  <div class="footer-links">
    {# Footer menu items #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>

  <p>©<span id="copyright-year"></span> Vice</p>

</nav>