{% extends "block.html.twig" %}

{# 
  Used for the additional section tag and attribute for frontpage-featured.
#}

{% block content %}
  {% if content %}
    <div{{ attributes.addClass('the-latest-content container') }}>
      <h1 class="latest-heading">The Latest</h1>
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
