{% extends "block.html.twig" %}

{#
/**
    Display The Latest block (view).
 */
#}

{% block content %}
  {% if content %}
    <div class="the-latest-content container">
      <h1 class="latest-heading">The Latest</h1>
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
