{% extends "block.html.twig" %}

{#
/**
    Display Search block.
 */
#}

{% block content %}
  {% if content %}
    <div class="slider-content">
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
