{% extends "block.html.twig" %}

{#
/**
    Display The Rest block (view).
 */
#}

{% block content %}
  {% if content %}
    <div class="the-rest-content container">
      <h1 class="rest-heading">More</h1>
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
