{#
/**
    Display custom Subscribe block.
 */
#}

<div class="subscribe-form container">
  <h2>Subscribe to the Vice newsletter</h2>
  <form class="subscribe-form-fields">
    <input type="text" placeholder="Your email">
    <input type="submit" value="Subscribe">
  </form>
  <p>By signing up to the VICE newsletter you agree to receive electronic communications from VICE that may sometimes include advertisements or sponsored content.</p>
</div>
