/** Breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1201px,
  xxl: 1400px
);

$gutters: unset;

/** Colours **/
$primary-color: #1D1D1D;
$secondary-color: #FFFFFF;

/** Font Sizes **/
$mob-font-size-lg: 1.25rem; // 18
$mob-font-size-md: 1.25rem; // 18
$mob-font-size-sm: 1.25rem; // 18
$mob-font-size-h1: 1.25rem; // 18
$mob-font-size-h2: 1.25rem; // 18
$mob-font-size-h3: 1.25rem; // 18
$mob-font-size-h4: 1.25rem; // 18

$tab-font-size-lg: 1.25rem; // 18
$tab-font-size-md: 1.25rem; // 18
$tab-font-size-sm: 1.25rem; // 18
$tab-font-size-h1: 1.25rem; // 18
$tab-font-size-h2: 1.25rem; // 18
$tab-font-size-h3: 1.25rem; // 18
$tab-font-size-h4: 1.25rem; // 18

$desk-font-size-lg: 1.25rem;
$desk-font-size-md: 1.25rem;
$desk-font-size-sm: 1.25rem;
$desk-font-size-h1: 3.25rem;
$desk-font-size-h2: 2.5rem;
$desk-font-size-h3: 1.25rem;
$desk-font-size-h4: 1.25rem;

/** Padding **/
$region-padding: 2rem 0;

/** Image **/
%image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}