{#
/**
    Display the front (Home) page.
 */
#}

<div class="layout-container">

  <navigation role="navigation">
    {{ page.navigation }}
  </navigation>

  <section role="search" class="search">
    {{ page.content }}
  </section>

  <footer role="footer">
    {{ page.footer }}
  </footer>

</div>