{#
/**
    Display the Taxonomy page.
 */
#}

<div class="layout-container">

  <navigation role="navigation">
    {{ page.navigation }}
  </navigation>

  <section role="taxonomy" class="taxonomy">
    {{ page.content }}
  </section>

  <footer role="footer">
    {{ page.footer }}
  </footer>

</div>