{#
/**
    Display the 404 page.
 */
#}

<div class="layout-container">

  <navigation role="navigation">
    {{ page.navigation }}
  </navigation>

  <section role="404" class="error-page-wrapper">

    <div class="error-page-content container">
      <h2>Opps!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut fringilla nibh.</p>
      <img class="gif" src="{{ '/themes/vice/src/images/giphy.gif' }}" />
    </div>
  </section>

  <footer role="footer">
    {{ page.footer }}
  </footer>

</div>